---
import Hero from "@/_components/hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const featuredCustomers = [
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
];
---

<MainLayout>
  <!-- Hero Section -->
  <Hero>
    <!-- <video
      autoplay
      muted
      loop
      controls={false}
      class="absolute top-1/2 -translate-y-1/2 mix-blend-lighten w-full object-cover"
    >
      <source src="/screen.mp4" type="video/mp4" />
    </video> -->
    <div
      class="absolute bottom-2 left-2 md:bottom-5 md:left-5 xl:bottom-10 xl:left-10"
    >
      <h1 class="title font-bold mb-2 md:mb-4 uppercase">
        Unlock Your <br />
        Brand's <strong>Potential</strong>
        <br />
        with Our <strong>Unique Approach</strong>.
      </h1>
      <p class="subtitle md:font-bold text-muted">
        Defined Solution Limited is a 360 agency. Helping businesses develop
        experiences and empower growth.
      </p>
    </div>
  </Hero>
  <!-- Featured Customers Section -->
  <section class="p-4 px-16 flex flex-row items-center justify-between gap-10">
    <h2 class="text-lg font-bold min-w-fit">
      <strong class="text-5xl">50+</strong>
      <br />
      <span class="uppercase">Happy Customers World-wide</span>
    </h2>
    <div class="flex flex-row gap-4">
      {
        featuredCustomers.map((customer) => (
          <div class="h-24">
            <img
              src={customer.logo}
              alt={customer.name}
              class="h-full object-contain saturate-0 hover:saturate-100 transition-all"
            />
          </div>
        ))
      }
    </div>
  </section>

  <!-- About Us Section -->
  <section
    class="full-card m-2 md:m-4 p-4 relative min-h-[calc(85vh-var(--spacing)*4*2)] bg-card grid grid-cols-3 lg:grid-cols-5 gap-12"
  >
    <div class="col-span-1 lg:col-span-2 relative max-h-[90vh]">
      <div
        class="h-full w-full bg-primary/15 mix-blend-overlay mb-4 rounded-lg absolute"
      >
      </div>
      <img
        src="/team-working.png"
        alt="About Us Attachment"
        class="w-full h-full object-cover object-center rounded-lg"
      />
    </div>
    <div class="col-span-2 lg:col-span-3 space-y-4 content-center">
      <h2 class="title font-bold mb-4 uppercase">
        Innovation Redefined ~ <br />
        We Bring Your <strong>Vision to Life</strong>.
      </h2>
      <p class="subtitle text-muted max-w-4xl">
        We don't just build — we craft experiences that engage, convert, and
        inspire. Backed by innovation and industry expertise, we transform
        insights into pixel-perfect digital solutions.
      </p>
      <p class="subtitle text-muted max-w-4xl">
        From apps to websites, we deliver seamless, high-impact solutions that
        redefine user experience and solve business problems. Let's build
        something extraordinary together!
      </p>
      <div
        class="flex flex-col md:flex-row items-start md:items-center gap-4 md:gap-8 xl:gap-10 py-3"
      >
        {
          [
            {
              value: 50,
              suffix: "+",
              label: "Happy Clients",
            },
            {
              value: 30,
              suffix: "+",
              label: "Team Members",
            },
            {
              value: 65,
              suffix: "+",
              label: "Projects Delivered",
            },
          ].map((stat) => (
            <div class="font-bold uppercase">
              <span class="title font-bold text-primary">
                {stat.value}
                {stat.suffix}
              </span>
              <br />
              <span class="subtitle text-muted">{stat.label}</span>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <div class="h-[70vh]"></div>
</MainLayout>
